<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSA</title>
</head>
<body>
<h1> Welcome to the RSA page.</h1>
    <p>Choose an action you want to do</p>
    <form method="POST" action ="/#">
        <input type="submit" name="RSA_encrypt" value="Encrypt using RSA"></input>
        <input type="submit" name="RSA_decrypt" value="Decrypt using RSA"></input>
        <input type="submit" name="RSA_generate" value="Generate new RSA"></input>
        <input type="submit" name="RSA_sign" value="Sign using RSA"></input>
        <input type="submit" name="RSA_authenticate_signature" value="Authenticate somebody's RSA signature"></input>
        <input type="submit" name="blind_a_message" value="Blind"></input>
        <input type="submit" name="unblind_a_message" value="Unblind"></input>
        <input type="submit" name="send_a_message" value="Send a message"></input>
        <input type="submit" name="algorithms" value="algorithms"></input>
        <input type="submit" name="RSA_principles" value="How does RSA work"></input>
    </form>

</body>
</html>