<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>RSA signed</title>
  </head>
  <body>
    <h2>RSA signed</h2>
    <h4>Original message {{encrypted_message_em}} was signed into {{original_message}}.</h4>
    <form method="POST" action ="/"> 
        <input type="hidden" name="original_message" value="{{ original_message }}">
        <input type="hidden" name="encryption_key_e" value="{{ encryption_key_e }}">
        <input type="hidden" name="n" value="{{ n }}">
        <input type="hidden" name="encrypted_message_em" value="{{ encrypted_message_em }}">
        
        <input type="submit" name="authenticate_the_signature_of_the_signed_message" value="authenticate_the_signature_of_the_signed_message"></input>
        <input type="submit" name="send_the_signed_message" value="send the signed message"></input>
        <input type="submit" name="unblind_the_signed_message" value="unblind the signed message"></input>
        <input type="submit" name="go_to_homepage" value="go to homepage"></input>
    </form>
  </body>
</html>


